@import './variables.scss';

%input_text {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
  font-size: $sm_font + 4;
}

%input_text::placeholder {
  color: white;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: $sm_font;
}

%input_textarea {
  resize: vertical;
  text-align: center;
  border: 2px solid white;
  color: white;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: $sm_font + 4;
  line-height: 1em;
}

%input_textarea::placeholder {
  color: white;
  text-align: center;
  font-size: $sm_font;
  font-family: 'Dancing Script';
}