@import '../lib/lib.scss';

.gallery {
  position: relative;
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-columns: auto auto auto;
  background-color: $primary_color;
  justify-items: center;
  column-gap: auto;
  row-gap: 50px;
  padding: 75px 30px;

  @include breakpoint(mobile) {
    grid-template-columns: auto;
  }
}
