@import '../lib/lib.scss';

.gallery {
  position: relative;
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-columns: auto auto auto;
  background-color: $primary_color;
  justify-items: center;
  column-gap: auto;
  padding: 15vh 5vw;
  row-gap: 10vh;

  @include breakpoint(mobile) {
    grid-template-columns: auto;
  }

  @include breakpoint(tablet) {
    grid-template-columns: auto auto;
  }
}
