@import '../lib/lib.scss';

.welcome_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_text {
  font-size: $xxlg_font;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  line-height: 1em;
  margin: 0 0 200px 0;
}

// Section Extension
%section {
  display: flex;
  height: 100vh;
  @include breakpoint(mobile) {
    flex-direction: column;
  }
}

.section_image {
  position: relative;
  width: 40%;  
  height: 100vh;
  @include breakpoint(tablet) {
    width: 50%;
  }
  @include breakpoint(mobile) {
    height: 40%;
    width: 100%;
  }
}

%section_description_header {
  width: 100%;
  text-align: start;
  display: flex;
  line-height: 75%;
  height: 30%;
  font-size: 14vw;
  @include breakpoint(mobile) {
    height: 15%;
  }
  @include breakpoint(tablet) {
    font-size: 11vw;
  }
}

.section_description_container {
  width: 60%;
  height: 100%;
  @include breakpoint(tablet) {
    width: 50%;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

%section_description {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: top;
  padding: 20px;
}

.section_btn_container {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%section_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: $sm_font;
  cursor: pointer;
}

%section_btn:hover {
  text-shadow: 0 0 5px white;
} 

// Divider Extension 
%section_divider {
  height: 100vh;
}

%section_divider_header {
  height: 20%;
  font-size: $xxlg_font;
  display: flex;
  justify-content: center;
  align-items: center;
}

.just_divider {
  @extend %section_divider;
  @include breakpoint(mobile) {
    display: none;
  }
}

// Intro Section
.intro {
  @extend %section;
  background-color: $secondary_color;
}

.intro_header {
  @extend %section_description_header;
}

.intro_description {
  @extend %section_description;
  height: 65%;
  @include breakpoint(mobile) {
    height: 85%;
  }
}

.intro_btn {
 @extend %section_btn;
 font-size: inherit;
 margin: 0 25px 25px 0;
 @include breakpoint(mobile) {
   font-size: $sm_font;
 }
}

// Custom Section
.custom {
  @extend %section;
  background-color: $primary_color;
}

.custom_header {
  @extend %section_description_header;
  text-align: end;
}

.custom_description {
  @extend %section_description;
  @include breakpoint(mobile) {
    height: 85%;
  }
}

// Catering Divider
.catering {
  @extend %section_divider;
}

.catering_header {
  @extend %section_divider_header;
  @include breakpoint(mobile) {
    font-size: $xlg_font;
    line-height: 1em;
  }
  @include breakpoint(tablet) {
    font-size: $xlg_font;
    line-height: 1em;
  }
}

.catering_info {
  display: flex;
  height: 80%;
  width: 100%;
  @include breakpoint(mobile) {
    flex-direction: column;
  }
}

.catering_description {
  margin: 0;
  flex: 1;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: $lg_font;
}

.catering_contact {
  flex: 1;
  display: flex;
  align-items: center;
  @include breakpoint(mobile) {
    display: none;
  }
}

.contact_form {
  height: 80%;
  width: 90%;
  background-color: $secondary_color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5%;
}

.contact_form_header {
  text-align: center;
  color: white;
  font-family: $script-font;
  font-size: $lg_font;
}

.catering_btn {
  @extend %section_btn;
  margin: 0 20px 20px 0;
 
}

.catering_btn_container {
  display: none;
  justify-content: flex-end;
  @include breakpoint(mobile) {
    display: flex;
  }
}

.input_text {
  @extend %input_text;
  margin: 0 0 10px 0;
}

.input_textarea {
  @extend %input_textarea;
  margin: 0 0 10px 0;
}

.input_btn {
  @extend %input_btn;

}