@import '../lib/variables.scss';

.intro {
  width: 100vw;
  height: 50vh;
  background-color: $menu_color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    height: 50%;
    font-size: 18vh;
  }
}

.gallery {
  display: grid;
  width: 100vw;
  grid-template-columns: auto auto auto;
  background-color: $primary_color;
  justify-items: center;
  gap: 50px;
  padding: 50px 20px;
}